/// ----------------------------------------------------------------------

/// Radio

/// ----------------------------------------------------------------------

@use 'colours';
@use 'borders';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'utilities';

/// -------------------
/// Radio swatches
/// -------------------

$size: 1.5rem !default;
$bg-colour: map-get(colours.$ui, 'two') !default;
$bg-colour--checked: map-get(colours.$ui, 'five') !default;
$border-radius: corners.$round !default;

/// -------------------
/// Radio selectors
/// -------------------

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: $bg-colour;
  border-radius: $border-radius;
  height: $size;
  width: $size;
  box-sizing: border-box;
  transition: transitions.$ease;
  cursor: pointer;

  &:focus-within {
    border: borders.$one;
  }

  &--checked {
    background-color: $bg-colour--checked;
  }
}

/// -------------------
/// Hide default input
/// -------------------

.radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/// -------------------
/// Radio icon
/// -------------------

.radio__icn {
  @include utilities.center;
  display: none;
  width: $size * 0.5;
  height: $size * 0.5;
  background-color: white;
  border-radius: $border-radius;

  .radio__input:checked > &,
  .radio--checked > & {
    display: block;
  }
}