/// ----------------------------------------------------------------------

/// Input

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Input swatches
/// -------------------

$input-pad: get-prop($spacing, 'md');

/// -------------------
/// Input selectors
/// -------------------

.input {
  @include flow-component;
  border: none;
  font-size: $base-font-size;
  font-family: $font-family;
  padding-left: $input-pad;
  padding-right: $input-pad;
  border-radius: get-prop($border-radii, 'base');
  background-color: get-prop($colours, 'ui', 'one');
  cursor: text;

  &:active,
  &:focus {
    outline: none;
  }

  &--error {
    border-bottom: solid 2px get-prop($colours, 'state', 'error');
  }
  &--warning {
    border-bottom: solid 2px get-prop($colours, 'state', 'warning');
  }
  &--success {
    border-bottom: solid 2px get-prop($colours, 'state', 'success');
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  .label + & {
    margin-left: get-prop($spacing, 'md');
  }
}
