/// ----------------------------------------------------------------------

/// Inputs

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'spacing';
@use 'corners';
@use 'borders';
@use 'colours';
@use 'typography';
@use 'components';
@use 'transitions';
@use 'resets';

/// -------------------
/// Input config
/// -------------------

$padding-x: spacing.$sm !default;
$bg-colour: map-get(colours.$ui, 'one') !default;
$border-radius: corners.$base !default;
$font-family: typography.$font-family--alt !default;
$font-weight: typography.$font-light !default;

/// -------------------
/// Input selectors 
/// -------------------

.input {
  @include resets.style;
  @include components.flow;
  @include components.interactive;
  padding-left: $padding-x;
  padding-right: $padding-x;
  border-radius: $border-radius; 
  background-color: $bg-colour;
  font-family: $font-family;
  font-weight: $font-weight;
  transition: border transitions.$ease;

  &:focus {
    outline: none;
  }
  
  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  .field--error & {
    border-bottom: solid 2px map-get(colours.$state, 'error');
  }

  .field--warning & {
    border-bottom: solid 2px map-get(colours.$state, 'warning');
  }

  .field--success & {
    border-bottom: solid 2px map-get(colours.$state, 'success');
  }
}
