/// ----------------------------------------------------------------------

/// Block

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Block selectors
/// -------------------

.block {
  @include block-component;
  border-radius: get-prop($border-radii, 'base');

  &--fill {
    width: 100%;
    height: 100%;
  }
}