/// ----------------------------------------------------------------------

/// Textarea

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'spacing';
@use 'corners';
@use 'borders';
@use 'colours';
@use 'typography';
@use 'components';
@use 'transitions';
@use 'resets';

/// -------------------
/// Textarea config
/// -------------------

$padding-x: spacing.$sm !default;
$bg-colour: map-get(colours.$ui, 'two') !default;
$border-radius: corners.$base !default;
$font-family: typography.$font-family--alt !default;
$font-weight: typography.$font-light !default;

/// -------------------
/// Textarea selectors 
/// -------------------

.textarea {
  @include resets.style;
  @include components.flow;
  @include components.interactive;
  display: block;
  padding-left: $padding-x;
  padding-right: $padding-x;
  border-radius: $border-radius; 
  background-color: $bg-colour;
  font-family: $font-family;
  font-weight: $font-weight;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
