/// ----------------------------------------------------------------------

/// Grid

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'spacing';
@use 'breakpoint';

/// -------------------
/// Grid config
/// -------------------

$columns: 12 !default;
$gutter: spacing.$xl !default;

/// -------------------
/// Grid selectors
/// -------------------
 
.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);

  &--gutter {
    grid-gap: $gutter;
    grid-row-gap: $gutter;
  }

  &--start-y {
    align-items: start
  }
  
  &--center-y {
    align-items: center
  }
  
  &--end-y {
    align-items: end
  }
  
  &--start-x {
    justify-content: start
  }
  
  &--center-x {
    justify-content: center
  }
  
  &--end-x {
    justify-content: end
  }
}

/// -------------------
/// Grid item
/// -------------------
 
.grid__item {
  display: grid;
  grid-column: span $columns;
  
  @include breakpoint.up('sm') {
    @for $i from 0 through $columns {  
      &--#{$i} {
        grid-column: span $i;
      }
    }
  }

  &--start-y {
    align-items: start
  }
  
  &--center-y {
    align-items: center
  }
  
  &--end-y {
    align-items: end
  }
  
  &--start-x {
    justify-content: start
  }
  
  &--center-x {
    justify-content: center
  }
  
  &--end-x {
    justify-content: end
  }
}
