/// ----------------------------------------------------------------------

/// Colours

/// ----------------------------------------------------------------------

/// -------------------
/// Brand
/// -------------------

$brand: (
  one:  #1AD958, 
  two:  #F13343,
) !default;

/// -------------------
/// UI
/// -------------------

$ui: (
  one:     #F8F8F8,
  two:     #F0F0F0,
  three:   #8D8D8D,
  four:    #434343,
  five:    #1d1d1d,
  six:     #131313,
) !default;

/// -------------------
/// UI States
/// -------------------

$state: (
  success:    #39B54A,
  warning:    #FFDD00,
  error:      #F13343,
  info:       #D878EC,
  muted:      #b0d1e4,
  focus:      #00cbf9,
) !default;

/// -------------------
/// Buttons
/// -------------------

$button: (
  primary: #ADDF23
) !default;