/// ----------------------------------------------------------------------

/// Gradients

/// ----------------------------------------------------------------------

@use 'colours';

$one: linear-gradient(90deg, #ADDF23, map-get(colours.$brand, 'one'), #ADDF23) !default;
$two: linear-gradient(90deg, #00A14B, map-get(colours.$brand, 'two'), #00A14B) !default;
$three: linear-gradient(0deg, #FFF, rgba(255, 255, 255, 0)) !default;