/// ----------------------------------------------------------------------

/// Label

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'typography';
@use 'spacing';
@use 'components';

/// -------------------
/// Label config
/// -------------------

$font-family: typography.$font-family--alt !default;
$font-weight: typography.$font-regular !default;

/// -------------------
/// Label selectors
/// -------------------

.label {
  display: block;
  padding-bottom: spacing.$xs;
  font-weight: $font-weight;
  font-family: $font-family;
  white-space: normal;

  &--inline {
    @include components.flow;
  }

  &--error {
    color: map-get(colours.$state, 'error'); 
  }

  &--warning {
    color: map-get(colours.$state, 'warning');
  }

  &--success {
    color: map-get(colours.$state, 'success');
  }
}