/// ----------------------------------------------------------------------

/// Navigation

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'colours';
@use 'transitions';
@use 'animations';
@use 'breakpoint';
@use 'typography';
@use 'resets';
@use 'z-index';

/// -------------------
/// Navigation config
/// -------------------

$nav-left: spacing.$md * 4;
$nav-height: 70px;

@keyframes fadeInNav {
  0% {
    left: $nav-left - spacing.$sm;
    opacity: 0;
  }
  100% {
    left: $nav-left;
    opacity: 1;
  }
}

@keyframes navList {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/// -------------------
/// Navigation selectors
/// -------------------

.nav {
  position: relative;
  z-index: z-index.$top;

  &--horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
  }

  &--vertical {
    padding: 0;
    background-color: map-get(colours.$ui, 'one');
  }

  &--inverse {
    background-color: map-get(colours.$ui, 'five');
  }
}

/// -------------------
/// Navigation selectors
/// -------------------

.nav__toggle {
  @include resets.style;
  padding: spacing.$sm;
  cursor: pointer;

  .nav--vertical & {
    display: none;
  }

  @include breakpoint.up('sm') {
    display: none;
  }
}

/// -------------------
/// Navigation selectors
/// -------------------

.nav__brand {
  max-width: 60px;
}

/// -------------------
/// Navigation selectors
/// -------------------

.nav__logo {
  width: 100%;
  height: auto;
}

/// -------------------
/// Navigation selectors
/// -------------------

.nav__list {
  @include resets.list;

  .nav--horizontal & {
    position: absolute;
    width: 100%;
    top: $nav-height;
    left: 0;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.3s ease;
    
    &--open {
      max-height: 500px;
    }
    
    @include breakpoint.up('sm') {
      background-color: transparent;
      position: relative;
      display: flex;
      top: 0;
      width: auto;
      max-height: none;
      overflow: visible;
    }
  }

  .nav--horizontal & & {
    position: relative;
    top: 0;
    margin-left: spacing.$md;
    
    @include breakpoint.up('sm') {
      display: flex;
      position: absolute;
      top: 100%;
      margin-left: 0;
    }
  }

  .nav--vertical & & {
    margin-left: spacing.$md;
    transform-origin: top;
    animation: navList 0.3s forwards ease;
  }
}
/// -------------------
/// Navigation item
/// -------------------

.nav__item {
  .nav--horizontal & {
    position: relative;
  }
}
/// -------------------
/// Navigation link
/// -------------------

.nav__link {
  @include resets.style;
  display: block;
  box-sizing: border-box;
  line-height: 1;
  font-size: typography.$base-font-size;
  font-family: typography.$font-family--alt;
  padding: spacing.$lg spacing.$md;
  text-decoration: none;
  white-space: nowrap;
  color: map-get(colours.$ui, 'five');
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    color: map-get(colours.$brand, 'two');
  }

  .nav--horizontal & {
    @include breakpoint.down('sm') {
      padding: spacing.$sm;
    }
  }
  
  .nav--vertical & {
    width: 100%;
    text-align: left;
  }
  
  .nav--vertical .nav__item:nth-child(2n) & {
    background-color: rgba(black, 0.025);
  }

  .nav--inverse & {
    color: white;

    &:hover {
      background-color: rgba(white, 0.1) !important;
    }
  }

  .nav--inverse.nav--vertical .nav__item:nth-child(2n) & {
    background-color: rgba(white, 0.025);
  }

  @include breakpoint.up('sm') {
    display: inline-block;
  }
}