/// ----------------------------------------------------------------------

/// Alert

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'corners';
@use 'colours';
@use 'animations';
@use 'transitions';
@use 'shadows';
@use 'utilities';
@use 'z-index';

/// -------------------
/// Alert config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;

/// -------------------
/// Alert selectors
/// -------------------

.alert {
  @include utilities.center-x;
  position: fixed;
  box-sizing: border-box;
  top: 1rem;
  width: calc(100% - 2rem);
  max-width: 800px;
  min-width: 250px;
  background-color: white;
  box-shadow: shadows.$two;
  animation: centerFadeInTop 0.3s animations.$forwards-ease;
  border-radius: corners.$base;
  z-index: z-index.$top;

  &--error {
    border-bottom: solid 2px map-get(colours.$state, 'error');
  }

  &--warning {
    border-bottom: solid 2px map-get(colours.$state, 'warning');
  }

  &--success {
    border-bottom: solid 2px map-get(colours.$state, 'success');
  }
}

/// -------------------
/// Alert swatches
/// -------------------

.alert__close {
  position: absolute;
  right: $padding-x;
  top: $padding-x;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  padding: 0;
  border: none;
  background: none;
  opacity: 0.5;
  transition: opacity transitions.$ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

/// -------------------
/// Alert swatches
/// -------------------

.alert__icn {
  position: absolute;
  left: $padding-x;
  top: $padding-y;
}

/// -------------------
/// Alert swatches
/// -------------------

.alert__header {
  // border-bottom: bore;
  padding: $padding-y $padding-x;
}

/// -------------------
/// Alert swatches
/// -------------------

.alert__body {
  padding-left: $padding-x * 3;
  padding-right: $padding-x * 3;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

/// -------------------
/// Alert swatches
/// -------------------

.alert__footer {
  padding: $padding-y $padding-x;
  display: flex;
  justify-content: space-between;
}