/// ----------------------------------------------------------------------

/// Modal

/// ----------------------------------------------------------------------

@use 'colours';
@use 'animations';
@use 'transitions';
@use 'breakpoint';
@use 'corners';
@use 'borders';
@use 'shadows';
@use 'spacing';
@use 'utilities';
@use 'z-index';

/// -------------------
/// Modal config
/// -------------------

$padding-x: spacing.$lg !default;
$padding-y: spacing.$lg !default;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/// -------------------
/// Modal swatches
/// -------------------

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  z-index: z-index.$top;
  display: flex;
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto 1rem;
  max-width: 800px;
  width: 100%;
  animation: fadeInTop 0.3s animations.$forwards-ease;
  z-index: z-index.$top + 1;

  @include breakpoint.up('sm') {
    margin: auto;
  }
}

/// -------------------
/// Modal swatches
/// -------------------

.modal__close {
  position: absolute;
  right: $padding-x;
  top: $padding-y;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  padding: 0;
  border: none;
  background: none;
  opacity: 0.5;
  transition: opacity transitions.$ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

/// -------------------
/// Modal swatches
/// -------------------

.modal__header {
  border-bottom: borders.$three;
  padding: $padding-y $padding-x;
  background-color: white;
  border-radius: corners.$base corners.$base 0 0;
}

/// -------------------
/// Modal swatches
/// -------------------

.modal__body {
  padding: $padding-y $padding-x;
  background-color: white;

  &:first-child {
    border-top-left-radius: corners.$base;
    border-top-right-radius: corners.$base;
  }

  &:last-child {
    border-bottom-left-radius: corners.$base;
    border-bottom-right-radius: corners.$base;
  }
}

/// -------------------
/// Modal swatches
/// -------------------

.modal__footer {
  padding: $padding-y $padding-x;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f0f0f0;
  background-color: white;
  border-radius: 0 0 corners.$base corners.$base;
}

/// -------------------
/// Modal utilities
/// -------------------

.has-modal {
  overflow: hidden;
  max-height: 100vh;
}