/// ----------------------------------------------------------------------

/// Field

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'spacing';
@use 'colours';
@use 'typography';

/// -------------------
/// Field swatches
/// -------------------

.field {
  width: max-content;

  &--full {
    width: 100%;
  }

  &--no-msg {
    margin-bottom: spacing.$mdp;
  }
}

.field__wrapper {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;

  &--full {
    width: 100%;
  }
}

.field__content {
  width: 100%;
  text-align: left;

  &--inline {
    display: flex;
    align-items: center;
  }
}

/// -------------------
/// Validation icon
/// -------------------

.field__icn {
  margin-left: spacing.$md;
  vertical-align: middle;
}

/// -------------------
/// Validation message
/// -------------------

.field__msg {
  display: block;
  @include apply-props.apply-props(typography.$small);
  text-align: left;
  padding-right: spacing.$md + 1rem;
  opacity: 0;
  min-height: spacing.$mdp;

  &--active {
    opacity: 1;
  }

  &--error {
    color: map-get(colours.$state, 'error'); 
  }

  &--warning {
    color: map-get(colours.$state, 'warning');
  }

  &--success {
    color: map-get(colours.$state, 'success');
  }
}