/// ----------------------------------------------------------------------

/// Field

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Field swatches
/// -------------------

.field {
  margin-bottom: get-prop($spacing, 'md');
  width: max-content;
}

.field__icn {
  margin-left: get-prop($spacing, 'xs');
}

.field__msg {
  @include apply-props(get-prop($typography, 'small'));
  text-align: right;
  padding-right: get-prop($spacing, 'xs') + 1rem;

  &--error {
    color:  get-prop($colours, 'state', 'error');
  }
  &--warning {
    color:  get-prop($colours, 'state', 'warning');
  }
  &--success {
    color:  get-prop($colours, 'state', 'success');
  }
}