/// ----------------------------------------------------------------------

/// Checkbox

/// ----------------------------------------------------------------------

@use 'colours';
@use 'borders';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'utilities'; 

/// -------------------
/// Checkbox swatches
/// -------------------

$size: 1.5rem !default;
$bg-colour: map-get(colours.$ui, 'two') !default;
$bg-colour--checked: map-get(colours.$ui, 'five') !default;
$border-radius: corners.$base !default;

/// -------------------
/// Checkbox selectors
/// -------------------

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: $size;
  width: $size;
}

.checkbox__box {
  display: block;
  height: $size;
  width: $size;
  padding: 0.3em;
  box-sizing: border-box;
  transition: transitions.$ease;
  border-radius: $border-radius;
  background-color: $bg-colour;
}

/// -------------------
/// Hide default input
/// -------------------

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &:checked + .checkbox__box {
    background-color: $bg-colour--checked;
  }
}

/// -------------------
/// Checkbox icon
/// -------------------

.checkbox__icn {
  @include utilities.center;
  display: none;

  .checkbox__input:checked + .checkbox__box &,
  .checkbox--checked > & {
    display: block;
  }
}

/// -------------------
/// Checkbox Label
/// -------------------

.checkbox__label {
  margin-left: .5em;
  vertical-align: middle;
  display: inline-block;
}