/// ----------------------------------------------------------------------

/// Checkbox

/// ----------------------------------------------------------------------

@use 'animations';
@use 'colours';
@use 'borders';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'utilities';

@keyframes scaleFocus {
  0% {
    opacity: 0.6;
    transform: rotate(10deg) scale(0.9);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}

/// -------------------
/// Checkbox swatches
/// -------------------

$size: 1.5rem !default;
$bg-colour: map-get(colours.$ui, 'two') !default;
$bg-colour--checked: map-get(colours.$ui, 'five') !default;
$border-radius: corners.$base !default;

/// -------------------
/// Checkbox selectors
/// -------------------

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  height: $size;
  width: $size;
  padding: 10px;
  transition: background transitions.$ease;
  border-radius: 50%;

  &:hover {
    background: transparentize(map-get(colours.$state, 'focus'), 0.8);
  }

  &--disabled {
    &:hover {
      background: none;
    }

    .checkbox__focus {
      background: none;
    }
  }
}

.checkbox__focus {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparentize(map-get(colours.$state, 'focus'), 0.6);
  border-radius: $border-radius;
  animation: scaleFocus 2s animations.$alternate-ease
}

.checkbox__box {
  display: block;
  height: $size;
  width: $size;
  padding: 0.3em;
  box-sizing: border-box;
  transition: transitions.$ease;
  border-radius: $border-radius;
  background-color: $bg-colour;
  z-index: 2;
}

/// -------------------
/// Hide default input
/// -------------------

.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;

  &:checked + .checkbox__box {
    background-color: $bg-colour--checked;
  }

  &:focus ~ .checkbox__focus {
    display: block;
  }

  &:disabled + .checkbox__box {
    opacity: 0.5;
  }

  &:disabled {
    cursor: default;
  }
}

/// -------------------
/// Checkbox icon
/// -------------------

.checkbox__icn {
  @include utilities.center;
  display: none;
  pointer-events: none;

  .checkbox__input:checked + .checkbox__box & {
    display: block;
  }
}

/// -------------------
/// Checkbox Label
/// -------------------

.checkbox__label {
  margin-left: .5em;
  display: inline-block;

  &--error {
    color: map-get(colours.$state, 'error'); 
  }
}