/// ----------------------------------------------------------------------

/// Overlay

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'animations';
@use 'z-index';

/// -------------------
/// Overlay config
/// -------------------

$bg-colour: black !default;
$bg-colour--inverse: white !default;
$opacity: 0.8 !default;

/// -------------------
/// Overlay selectors
/// -------------------

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z-index.$top;
  animation: fadeIn 0.3s animations.$forwards-ease;
  background-color: rgba($bg-colour, $opacity);
  
  &--inverse {
    background-color: rgba($bg-colour--inverse, $opacity);
  }
}