/// ----------------------------------------------------------------------

/// Image

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'gradients';
@use 'corners';
@use 'typography';
@use 'spacing';
@use 'components';
@use 'animations';
@use 'utilities';

/// -------------------
/// Image selectors
/// ------------------

.img {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; 
  overflow: hidden;


  &--rounded {
    border-radius: corners.$base;
  }

  &--round {
    border-radius: corners.$round;
  }

  &--diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &--1x1 {
    padding-top: 100%;
  }

  &--4x3 {
    padding-top: 75%;
  }

  &--16x9 {
    padding-top: 56.25%;
  }

  &--7x3 {
    padding-top: 45%;
  }
}

/// -------------------
/// Image loader
/// ------------------

.img__loader {
  position: absolute;
  display: flex;
  flex-grow: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/// -------------------
/// Image item
/// ------------------

.img__item {
  @include utilities.center;
  width: 100%;
}

.img__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: map-get(colours.$ui, 'three');

  div {
    user-select: none;
    font-size: 2em;
  }
}