/// ----------------------------------------------------------------------

/// Image

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'gradients';
@use 'corners';
@use 'typography';
@use 'spacing';
@use 'components';
@use 'animations';
@use 'utilities';

/// -------------------
/// Image config
/// -------------------

$bg-colour: map-get(colours.$ui, 'one');

/// -------------------
/// Image selectors
/// ------------------

.img {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; 
  overflow: hidden;
  background-size: 200%;
  background-image: gradients.$three;
  animation: cycleBg 4s animations.$infinite-linear;

  &--rounded {
    border-radius: corners.$base;
  }

  &--round {
    border-radius: corners.$round;
  }

  &--diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  &--1x1 {
    padding-top: 100%;
  }

  &--4x3 {
    padding-top: 75%;
  }

  &--16x9 {
    padding-top: 56.25%;
  }

  &--7x3 {
    padding-top: 45%;
  }
}

/// -------------------
/// Image loader
/// ------------------

.img__loader {
  @include utilities.center;
  color: white;
}

/// -------------------
/// Image item
/// ------------------

.img__item {
  @include utilities.center;
  width: 100%;
  background-color: white;
}