/// ----------------------------------------------------------------------

/// Link

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Link config
/// -------------------

$link-types: ();

/// -------------------
/// Link selectors
/// -------------------

.link {
  font-size: inherit;
  font-family: $font-family;
  color: get-prop($colours, 'brand', 'one');
}